* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

main,
section {
    padding: 100px 200px;
}

.home-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/home-pic.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-section .content {
    max-width: 800px;
}

.home-section .content h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
}

.home-section .content h2 span {
    font-size: 2.8em;
    font-weight: 600;
}

.animated-h3 {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-h3 h3 {    
    color: #087eec;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-h3 h3:nth-child(1) {
    animation: animated-text 10s infinite;
}

@keyframes animated-text {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}

.btn {
    color: #fff;
    background-image: linear-gradient(#53b6f0, #087eec);
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
}

.btn:hover {
    background: #087eec;
}

.social-media-icons {
    margin-top: 50px;
}

.social-media-icons a {
    color: #fff;
    font-size: 25px;
    margin-right: 30px;
}

header {
    z-index: 99;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

header.sticky {
    background: #087eec;
    padding: 20px 200px;
}

header .brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation-section {
    position: relative;
}

header .navigation-section a {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

header .navigation-section a:hover {
    color: #087eec;
}

header.sticky .navigation-section a:hover {
    color: #000;
}

body {
    min-height: 110vh;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-section {
    position: relative;
    color: #087eec;    
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

.about-me-title-section:before {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 200px;
    height: 4px;
    background: #087eec;
    transform: translateX(-50%);
}

.services-title-section:before {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 305px;
    height: 4px;
    background: #087eec;
    transform: translateX(-50%);
}

.work-title-section:before {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 240px;
    height: 4px;
    background: #087eec;
    transform: translateX(-50%);
}

.contact-title-section:before {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 235px;
    height: 4px;
    background: #087eec;
    transform: translateX(-50%);
}

.about-section .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-section .content .col-left {
    position: relative;
    width: 45%;
}

.about-section .content .col-right {
    position: relative;
    width: 50%;
}

.about-section .content .col-left .card-image {
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about-section .content .col-left .card-image img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-section .content .col-right .content-title {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.about-section .content .col-right .paragraph-text {
    font-size: 1em;
}

.services-section .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;;
    margin-top: 20px;
}

.title p {
    font-size: 1em;
    width: 80%;
}

.services-section .content .card {
    background: #fff;
    width: 340px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}

.services-section .content .card .service-icon {
    color: #087eec;
    font-size: 8em;
    text-align: center;
    transition: transform 0.5s ease;
}

.services-section .content .card:hover .service-icon {
    transform: translateY(-10px);
}

.services-section .content .card .info {
    text-align: center;
}

.services-section .content .card .info h3 {
    color: #087eec;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.work-section {
    background: #0c131d;
}

.work-section .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work-section .content .card {
    width: 340px;
    margin: 15px;
    flex-basis: 30%;
}

.work-section .card h3 {
    text-align: center;
    margin: 5px;
}

.work-section .card h3 a {
    text-decoration: none;
    color: #087eec;
}

.work-section .card h3 a:hover {
    color: rgba(8, 126, 236, 0.75)
}

.work-section .content .card .card-img {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.work-section .content .card .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}

.work-section .content .card .card-img img:hover {
    transform: scale(1.2);
}

.contact-section .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.contact-section .content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-section .content .row .card {
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(a a a / 15%);
    border-radius: 10px;
}

.contact-section .content .row .card .contact-icon {
    color: #087eec;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
}

.contact-section .content .row .card:hover .contact-icon {
    transform: translateY(-10px);
}

.contact-section .content .row .card .contact-icon img {
    width: 150px;
    color: #087eec;
}

.contact-section .content .row .card .info {
    text-align: center;
}

.contact-section .content .row .card .info h3 {
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact-section .content .row .card .info span {
    color: #667;
    font-weight: 500;
}

.contact-section .content .row .card .info span a {
    text-decoration: none;
    color: #667;
}

.contact-form {
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.contact-form h3 {
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-group input,
.contact-form .input-group textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
}

.contact-form .input-group .contact-form-btn {
    color: #fff;
    background-image: linear-gradient(#53b6f0, #087eec);
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-form .input-group .contact-form-btn:hover {
    background: #087eec;
}

.footer {
    background: #0d1117;
    color: #fff;
    text-align: center;
    padding: 2em;
}

.footer .footer-title {
    font-size: 20px;
    font-weight: 600;
}

.footer p {
    font-size: 16px;
    margin-top: 10px;
}

.footer p a {
    color: #087eec;
    font-weight: 600;
    text-decoration: none;
}

.scroll-to-top-btn {
    z-index: 99;
    position: fixed;
    background: linear-gradient(#53b6f0, #087eec);
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.scroll-to-top-btn.active {
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    header.sticky {
        padding: 10px 20px;
    }

    header .navigation-section {
        position: relative;
        display: none;
    }

    header .navigation-section.active {
        z-index: 88;
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        transition: 0.3s ease;
    }

    header .navigation-section a {
        color: #000;
        font-size: 1.2em;
        margin: 10px;
        padding: 0 20px;
        border-radius: 20px;
    }

    header .navigation-section a:hover {
        background: #087eec;
        color: #fff;
        transition: 0.3s ease;
    }

    .menu-btn {
        position: absolute;
        background: url(images/hamburger6.svg) no-repeat;
        background-size: 42px;
        background-position: center;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 99;
        background: url(images/close-icon.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        filter: invert(1);
    }

    .btn {
        display: flex;
        justify-content: center;
        width: 250px;
        margin: 30px auto 0 auto;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
    }

    .about-section .content .col-left .card-image {
       height:50%;
    }

    .about-section .content .col-left .card-image img {
       height: 50%;
    }

    #about-section {
        height: 100vh;
    }

    main,
    section {
        padding: 80px 20px;
    }

    .home-section .content h2 {
        font-size: 1em;
    }

    .animated-h3 h3 {
        font-size: 2.2em;
        text-align: center;
    }

    .title-section {
        font-size: 1.8
    }

    .about-section .content {
        flex-direction: column;
    }

    .about-section .content .column {
        position: relative;
        width: 100%;
    }

    .about-section .content .col-right {
        margin-top: 40px;
    }

    .skills-section .content {
        flex-direction: column;
    }

    .skills-section .content .column {
        position: relative;
        width: 100%;
    }

    .skills-section .content .col-right {
        margin-top: 40px;
    }

    .contact-form {
        padding: 35px 40px;
    }

    .scroll-to-top-btn {
        z-index: 99;
        position: fixed;
        background: #087eec;
        color: #fff;
        width: 45px;
        height: 45px;
        right: 0;
        bottom: 10px;
        font-size: 22px;
        text-align: center;
        line-height: 45px;
        border-radius: 3px;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .scroll-to-top-btn.active {
        right: 20px;
        opacity: 1;
        pointer-events: auto;
    }

    .reveal {
        position: relative;
        transform: translateY(50px);
        opacity: 0;
        transition: all 1.5s ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
}


